<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Place an Order</h1>
        <form action="sell" method="post" class="mt-3">
            <div class="form-group">
                <label for="instId">Instrument ID</label>
                <input type="text" class="form-control" id="instId" name="instId" placeholder=<%=data.Crypto%> readonly>
            </div>
            <div class="form-group">
                <label for="Qt">Quantity</label>
                <input type="number" class="form-control" id="Qt" name="sz" step="0.00000001" placeholder="Quantity" required>
            </div>
            <input type="hidden" name="instId" value="<%= data.Crypto %>">
            <button type="submit" class="btn btn-success">Submit Order</button>
        </form>
    </div>
</body>
</html>